@model passionProject_n01333782.Models.CarManufactures

@{
    ViewBag.Title = "Details";
}
<div class="promptlink">


</div>

<div>
    <h2>@Model.CompanyName</h2>
</div>
<div>
    <label class="inputLabel">Establishment Year: </label>@Model.Year
</div>

<h3>Car's By @Model.CompanyName</h3>
@foreach (var car in Model.CarMakes)
{
    // <span class="recitem">@Html.ActionLink(car.ModelName, "Detail/" + car.ModelID, "CarMake")</span>
    <div class="recitem">
        @Html.ActionLink(car.ModelName, "Detail/" + car.ModelID, "CarMake")
    </div>
}
<div class="promptlinkleft">
    @Html.ActionLink("Back to List", "List")
</div>